/*--------------------------GENERAL-----------------------------*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

*::before, *::after {
  box-sizing: border-box; }

body {
  background-color: #D9D9D9;
  color: #212529;
  width: 100%;
  transition: all 1000ms ease-in-out; }

/*--------------------------IMPORTS-----------------------------*/
#header__home {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#0F2027, #2C5364);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  top: 0;
  width: 100%;
  height: 100vh; }

#header__home--content {
  color: whitesmoke;
  text-align: justify;
  font-size: 1.2rem;
  padding: 1.5rem 3rem; }

.general__header {
  background-color: #212529;
  color: whitesmoke;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 3px 10px #2CECEC;
  z-index: 1; }

.lista--buscador {
  display: none; }

@media screen and (min-width: 768px) {
  .general__header {
    font-size: 1.2rem; }
  #header__home--content {
    color: whitesmoke;
    text-align: justify;
    font-size: 1.5rem;
    padding: 1rem 5rem 0rem 5rem; } }

@media screen and (min-width: 1024px) {
  .general__header {
    font-size: 1.6rem;
    padding: 1rem 0; }
    .general__header ul {
      gap: 2.3rem; }
  #header__home--content {
    color: whitesmoke;
    justify-self: center;
    font-size: 2.1rem;
    padding: 5rem 9rem; }
    #header__home--content p {
      margin-bottom: 2.5rem; }
  .lista--buscador {
    display: flex;
    flex-flow: row wrap;
    background-color: whitesmoke;
    color: #212529;
    list-style: none;
    font-size: 1.5rem;
    border-radius: 8px; }
  .dark__mode .lista--buscador {
    background-color: #212529;
    color: whitesmoke; }
  .buscador--container {
    margin-right: 1rem;
    margin-left: 2.5rem; } }

#nav__home--container {
  width: 100%;
  padding-top: 2rem; }

.nav {
  color: #212529;
  display: none; }

.home--logo {
  color: whitesmoke;
  font-size: 1.4rem;
  text-decoration: none;
  padding-left: 2.4rem;
  padding-bottom: .5rem; }

.nav__list {
  display: flex;
  list-style: none;
  flex-flow: column nowrap;
  align-items: flex-start; }

.nav__links {
  padding: 1rem .5rem;
  color: whitesmoke;
  text-decoration: none;
  font-size: .9rem;
  letter-spacing: 2px; }

.nav__list__items {
  padding: .7rem;
  justify-items: center; }

.nav__links {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 4px; }

.nav--submenu {
  font-size: 1.4rem;
  padding: .5rem 1rem; }

.dropdown-menu {
  border-radius: 4px; }

.nav__home--toggle {
  display: none; }

.nav__home--toggle:checked ~ nav {
  display: block; }

.nav__label--toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 3rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  border: 3px solid text-color;
  border-radius: 3px; }
  .nav__label--toggle span, .nav__label--toggle span::before, .nav__label--toggle span::after {
    display: block;
    background: #6c757d;
    height: 2px;
    width: 1.5rem;
    border-radius: 3px;
    position: relative; }
  .nav__label--toggle span::before, .nav__label--toggle span::after {
    content: '';
    position: absolute; }
  .nav__label--toggle span::before {
    bottom: 5px; }
  .nav__label--toggle span::after {
    top: 5px; }

@media screen and (min-width: 768px) {
  .nav__links {
    padding: 1rem;
    gap: .5rem;
    font-size: 1.5rem; }
  .nav--submenu {
    font-size: 1.5rem;
    padding: .5rem 1.3rem; }
  .home--logo {
    font-size: 1.6rem; }
  .moon--icon {
    font-size: 1.5rem; }
  .sun--icon {
    font-size: 1.5rem; } }

@media screen and (min-width: 1024px) {
  #nav__home--container {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 3rem;
    padding-bottom: 3rem; }
  .nav {
    display: block;
    width: 100%; }
  .home--logo {
    font-size: 2.3rem; }
  .nav__list {
    display: flex;
    gap: 1rem;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
  .nav__links {
    padding: 1rem 3rem 1rem 3rem;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.7rem;
    background-image: linear-gradient(90deg, lightgray, #2CECEC);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease; }
  .nav__links:hover {
    background-size: 100% 3px;
    color: whitesmoke; }
  .dropdown-menu {
    border-radius: 6px; }
  .nav--submenu {
    font-size: 1.8rem;
    padding: .7rem 3.3rem; }
  .seeker {
    height: 30px;
    width: 33.33333%; }
    .seeker input, .seeker button {
      font-size: 1.2rem;
      border-radius: 5px; }
  .nav__home--toggle {
    display: none; }
  .nav__home--toggle:checked ~ nav {
    display: none; }
  .nav__label--toggle {
    display: none; }
    .nav__label--toggle span, .nav__label--toggle span::before, .nav__label--toggle span::after {
      display: none; }
  .dark__mode {
    color: whitesmoke;
    padding: .1rem;
    border: 2px #212529;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    background: #ff5719; }
    .dark__mode::after {
      content: "";
      position: absolute;
      display: block;
      width: 33px;
      height: 33px;
      border-radius: 20px;
      background: whitesmoke;
      top: 0;
      left: unset;
      right: 0;
      box-shadow: 0 0 2px 2px #212529; }
    .dark__mode.active {
      background: #00003d; }
    .dark__mode.active::after {
      left: 0;
      right: unset; }
    .dark__mode span {
      width: 30px;
      height: 30px;
      line-height: 30px;
      display: block; }
  .moon--icon {
    padding: .5rem;
    font-size: 2rem;
    color: whitesmoke;
    border-radius: 0px 20px 20px 0px; }
  .sun--icon {
    padding: .5rem;
    font-size: 2rem;
    color: whitesmoke;
    border-radius: 20px 0px 0px 20px; } }

@media only screen and (min-width: 1440px) {
  .home--logo {
    font-size: 3rem; }
  .nav__links {
    font-size: 2.2rem; }
  .nav--submenu {
    font-size: 2.2rem;
    padding: 1rem 3.7rem; }
  .seeker {
    height: 35px;
    width: 33.33333%; }
    .seeker input, .seeker button {
      font-size: 1.5rem; } }

.form {
  width: 100%;
  border: 2px solid #2CECEC;
  margin: auto;
  padding: 2rem;
  background-color: #211752;
  color: whitesmoke;
  align-content: center;
  box-shadow: 0 0 0.5rem 0.5rem #2CECEC; }

.form__select {
  font-size: 1rem;
  border-radius: 5px; }

.form__label {
  font-size: 1rem;
  display: block;
  width: 100%; }

.form__message {
  padding: 2rem 0;
  border-radius: 5px; }

#nombre_apellido, #email {
  margin-bottom: 2rem;
  width: 90%;
  padding: .5rem;
  box-sizing: border-box;
  border: 1px solid #212529;
  border-radius: 5px;
  transition: width, border; }

#nombre_apellido:focus, #email:focus {
  transition-duration: 1.3s;
  width: 100%;
  border: 2px solid #2CECEC; }

#enviar, #reestablecer, textarea {
  margin-bottom: 1rem;
  width: 100%;
  padding: .5rem;
  box-sizing: border-box;
  border: 1px solid #212529;
  border-radius: 5px; }

.form input:focus, textarea:focus {
  border: 1px solid #2CECEC; }

#form__message--resize {
  resize: vertical;
  max-height: 300px;
  min-height: 100px; }

.form input[type='submit'], input[type='reset'] {
  margin-bottom: 0;
  background: #1a6a62;
  color: whitesmoke;
  border: none; }

#form__checkbox {
  display: flex; }
  #form__checkbox #checkbox {
    margin-bottom: 0;
    width: 50px; }
  #form__checkbox p {
    font-size: 1.2rem; }

@media only screen and (min-width: 768px) {
  #form__checkbox {
    width: 100%;
    font-size: 1.4rem;
    align-items: baseline;
    flex-wrap: nowrap;
    padding-bottom: 1rem; } }

@media only screen and (min-width: 1024px) {
  .form {
    width: 40%;
    height: 45%;
    border: 2px solid #2CECEC;
    margin: auto;
    padding: 2rem;
    background-color: #211752;
    color: whitesmoke;
    align-content: center; }
  .form__label {
    display: block;
    width: 100%;
    font-size: 1.3rem; }
  .form__select {
    font-size: 1.3rem; }
  .form__menssage {
    padding: 2rem 0; }
  .form input, textarea {
    margin-bottom: 1.5rem;
    width: 100%;
    padding: .5rem;
    box-sizing: border-box;
    border: 1px solid #212529;
    font-size: 1.3rem; }
  .form input:focus, textarea:focus {
    border: 1px solid #2CECEC; }
  .form__message--resize {
    resize: vertical;
    max-height: 300px;
    min-height: 100px; }
  .form input[type='submit'], input[type='reset'] {
    margin-bottom: 0;
    background: #1a6a62;
    color: whitesmoke;
    border: none; }
  .form input[type='submit']:hover, input[type='reset']:hover, input[type='checkbox']:hover {
    background: #2CECEC;
    cursor: pointer; }
  #form__checkbox p {
    font-size: 1.5rem; }
  .dark .form {
    background-color: #212529; }
  .dark .form__label {
    text-shadow: 0 1px 0 #2CECEC; } }

#footer {
  background-color: #212529;
  color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0; }

#footer__nav ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  gap: 1rem;
  padding-left: 0; }
  #footer__nav ul li a {
    padding: 1rem 1rem;
    color: whitesmoke;
    text-decoration: none; }

.footer__icons {
  display: flex;
  width: 20vw;
  justify-content: space-around; }

.footer__icon--white, .footer__icon--turquoise, .footer__icon--black {
  font-size: 2rem;
  color: #DD2A7B;
  text-align: center;
  border-radius: 1rem;
  padding: .5rem;
  gap: 2rem;
  background-color: #212529;
  transition: background-color 500ms ease-in-out; }

.footer__icon--turquoise {
  color: #2a9fec; }

.footer__icon--black {
  color: black; }

.footer__icon--white:hover, .footer__icon--turquoise:hover, .footer__icon--black:hover {
  transform: scale(1.2, 1.2);
  background-color: whitesmoke; }

.footer__icon--turquoise:hover {
  transform: scale(1.2, 1.2);
  background-color: whitesmoke; }

.footer__icon--black:hover {
  transform: scale(1.2, 1.2);
  background-color: whitesmoke; }

@media only screen and (min-width: 1024px) {
  #footer__nav ul {
    display: flex;
    list-style: none;
    bottom: 0;
    gap: 2rem; }
    #footer__nav ul li {
      font-size: 1.6rem; }
    #footer__nav ul a:hover {
      text-decoration: underline;
      color: #2CECEC; }
  .footer__icon--white, .footer__icon--turquoise, .footer__icon--black {
    font-size: 2.5rem;
    padding: 1rem 2rem; }
  .footer__icon--turquoise {
    font-size: 2.5rem;
    padding: 1rem 2rem; }
  .footer__icon--black {
    font-size: 2.5rem;
    padding: 1rem 2rem; } }

.section__conocenos--btnContainer {
  display: flex;
  justify-content: center;
  padding: 5rem 0; }

.conocenos__btn--hover:hover {
  color: #212529; }

.descargar {
  font-size: 1.2rem;
  border-radius: 5px; }

.news__api {
  display: flex;
  justify-content: center;
  justify-items: center; }
  .news__api .news__api--container {
    margin: 3rem;
    padding: 1.5rem;
    border: 2px #FFF;
    border-radius: 0 10px 0 10px;
    box-shadow: 2px 2px 4px #0e44d8, 3px 3px 6px #DD2A7B, 4px 4px 8px green;
    background: #281E5D;
    color: whitesmoke; }
  .news__api .btn__news--api {
    margin: 3rem;
    padding: 1.5rem;
    border: 2px #FFF;
    border-radius: 0 10px 0 10px;
    box-shadow: 2px 2px 4px #0e44d8, 3px 3px 6px #DD2A7B, 4px 4px 8px green;
    background: #281E5D;
    color: whitesmoke;
    font-size: 1.6rem; }
  .news__api .btn__news--hide {
    padding: 1.2rem;
    margin: 2rem;
    border: 5px whitesmoke;
    border-radius: 3px;
    color: whitesmoke;
    background: gray;
    font-size: 1.3rem; }
  .news__api .btn__news--hide:hover {
    color: #2CECEC;
    background: whitesmoke;
    font-size: 1.4rem;
    font-weight: bold; }

@media screen and (min-width: 1024px) {
  .descargar {
    font-size: 1.7rem; }
  .section__conocenos--btn {
    font-size: 2rem;
    letter-spacing: 2px; }
  .card--mision {
    display: block;
    margin: 2rem;
    background: #6E6E80;
    color: whitesmoke;
    width: 30vw;
    height: 50vh;
    border: 2px #2CECEC;
    border-radius: 0 15px 0 15px;
    box-shadow: 2px 2px 4px #0e44d8, 3px 3px 6px #DD2A7B, 4px 4px 8px green; }
    .card--mision h3 {
      padding: 1.5rem;
      font-size: 2rem;
      font-weight: bold;
      background-color: #191927;
      border-radius: 0 15px 0 0;
      text-decoration: underline; }
    .card--mision p {
      padding: 1.5rem;
      font-size: 1.6rem; }
    .card--mision ol {
      padding: 1.5rem;
      font-size: 1.6rem; }
      .card--mision ol li {
        padding-left: 2rem;
        padding-bottom: 1rem;
        list-style: none; }
  .conoce--container {
    display: flex;
    width: 100%;
    justify-content: center; }
  .btn--conoce {
    padding: 1rem;
    margin: 2rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: whitesmoke;
    background-color: #212529;
    border-radius: 0 10px 0 10px;
    box-shadow: 1px 1px 2px #0e44d8, 2px 2px 3px #DD2A7B, 3px 3px 4px green; } }

@media screen and (min-width: 1440px) {
  .descargar {
    font-size: 2.2rem; } }

.card-content {
  font-size: 1.2rem;
  text-align: justify; }

.card-small {
  font-size: 1rem; }

.card--container {
  border-radius: 8px;
  box-shadow: 5px 5px .5rem gray; }

@media screen and (min-width: 768px) {
  .library--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; }
  .card--container {
    margin: 1.5rem; } }

@media screen and (min-width: 1024px) {
  .card-content {
    font-size: 1.4rem; }
  .card-small {
    font-size: 1.2rem; }
  .popup--wrapper {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer; }
    .popup--wrapper .popup {
      width: 100%;
      max-width: 30rem;
      margin: 10% auto;
      padding: 2rem;
      background-color: whitesmoke;
      color: #212529;
      z-index: 1000;
      text-align: center;
      border-radius: 5px;
      position: relative; }
      .popup--wrapper .popup .popup--close {
        position: absolute;
        top: 5px;
        right: 15px;
        cursor: pointer;
        font-size: 1.5rem;
        color: #212529; }
      .popup--wrapper .popup .popup--content {
        font-size: 1.5rem; }
        .popup--wrapper .popup .popup--content .popup--title {
          font-size: 3rem;
          font-weight: bold; }
        .popup--wrapper .popup .popup--content .btn--donar {
          padding: 1rem;
          color: whitesmoke;
          box-shadow: 2px 2px 4px #0e44d8, 3px 3px 6px #DD2A7B, 4px 4px 8px green;
          background: #281E5D;
          border-radius: 0 8px 0 8px; }
          .popup--wrapper .popup .popup--content .btn--donar a {
            text-decoration: none;
            color: whitesmoke; }
        .popup--wrapper .popup .popup--content .btn--donar:hover {
          cursor: pointer;
          background: gray;
          transition: background 500ms; } }

@media screen and (min-width: 1440px) {
  .card-content {
    font-size: 1.7rem; }
  .card-small {
    font-size: 1.4rem; } }

h1 {
  color: #212529;
  font-weight: 1000;
  text-align: center;
  padding-bottom: 1.5rem;
  padding-top: 8rem;
  font-size: 2.7rem; }

#important {
  font-size: 2.5rem;
  color: whitesmoke;
  text-align: center;
  padding: 3rem; }

h2 {
  font-size: 1.8rem;
  text-align: center;
  text-decoration: underline;
  padding: 2rem 0; }

.table {
  padding: .5rem;
  margin: .5rem;
  font-size: .9rem;
  width: 100%;
  height: 0px;
  animation-name: aparecer;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

@keyframes aparecer {
  0% {
    height: 0px; }
  50% {
    height: 50%; }
  100% {
    height: 100%; } }

.index {
  padding-left: 3rem;
  font-size: 1.2rem; }

.h5 {
  font-size: 1.4rem; }

section {
  margin: 3rem;
  padding: 0 auto;
  padding-bottom: 2rem; }

.glossary {
  padding: 0 1.3rem;
  font-size: 1.1rem; }

.descriptions {
  font-size: 1.3rem; }

.section__news {
  margin: 1.5rem;
  padding-bottom: 2.2rem;
  padding-bottom: 2.2rem; }
  .section__news dd {
    font-size: 1.3rem;
    font-weight: 400; }

.section__news--books {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold; }

.section__conocenos--subtitles {
  margin: 0 1.5rem; }

.section__conocenos--content {
  margin: 0 3rem; }

.podcast__iframes {
  box-sizing: border-box;
  margin: 1.2rem 0; }

#news {
  display: flex; }

.news__article--left {
  display: flex;
  flex-flow: column nowrap;
  padding: 1.5rem auto;
  border-bottom: 2px solid #212529; }

.news__article--right {
  display: flex;
  flex-flow: column nowrap;
  padding: 1.5rem auto;
  border-bottom: 2px solid #212529; }

.news--multimedia {
  justify-items: flex-start;
  width: 30rem;
  height: 20.6rem;
  padding: 1rem 1rem;
  border-radius: 15px;
  margin-bottom: 2rem; }

.news__article--title {
  text-align: center;
  padding: 1rem 0; }
  .news__article--title h3 {
    font-size: 1.8rem;
    font-style: bold; }

.news__articles--content {
  font-size: 1.4rem;
  font-style: bold;
  align-self: center;
  padding-bottom: .5rem 0; }

a {
  text-decoration: none; }

#bienvenida {
  margin-left: 2rem;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bold; }

.dark {
  background-color: #212529;
  color: #D9D9D9;
  width: 100%;
  transition: all 1000ms ease-in-out; }
  .dark h1 {
    color: #D9D9D9; }
  .dark h2 {
    color: #D9D9D9; }
  .dark .table {
    background-color: #D9D9D9;
    color: #212529; }
  .dark .h5 {
    color: #D9D9D9; }
  .dark .btn--search {
    color: #2CECEC; }
  .dark .btn--search:hover {
    color: #212529;
    background: #2CECEC; }
  .dark .card-body {
    color: #212529; }
    .dark .card-body h5 {
      color: #212529; }

@media only screen and (min-width: 768px) {
  h1 {
    text-align: center;
    padding: auto;
    padding-bottom: 2rem;
    padding-top: 8.5rem;
    font-size: 3rem;
    letter-spacing: 2px; }
  h2 {
    font-size: 2.1rem; }
  .section {
    padding: 0 5rem;
    font-size: 1.5rem; }
  .descriptions {
    font-size: 1.5rem; }
  .table {
    font-size: 1.5rem;
    border: 0.5rem solid #2CECEC !important;
    margin: 3rem 0; }
  .table td {
    padding: 0 .5rem; }
  .h5 {
    font-size: 1.5rem; }
  .index {
    font-size: 1.4rem; }
  .news__article--left {
    flex-flow: row nowrap;
    padding: 1.5rem auto;
    border-bottom: 2px solid #212529;
    align-items: center; }
  .news__article--right {
    flex-flow: row nowrap;
    padding: 1.5rem auto;
    border-bottom: 2px solid #212529;
    align-items: center; }
  .news--multimedia {
    justify-items: flex-start;
    width: 32rem;
    height: 22rem;
    padding: 1rem 1rem; }
  .news__articles--content {
    font-size: 1.8rem;
    font-style: bold;
    align-self: center;
    padding: 1rem 0; }
  .news__article--title h3 {
    font-size: 2rem; }
  #bienvenida {
    margin-left: 2rem;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: bold; } }

@media only screen and (min-width: 1024px) {
  #important {
    border: 5px solid #0575E6;
    animation-name: colors;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    letter-spacing: 3px;
    font-size: 7rem; }
  @keyframes colors {
    0% {
      border: 5px solid #0575E6; }
    15% {
      border: 5px solid #00F260; }
    30% {
      border: 5px solid #2CECEC; }
    45% {
      border: 5px solid #00F260; }
    60% {
      border: 5px solid #0575E6; }
    75% {
      border: 5px solid #2CECEC; }
    100% {
      border: 5px solid #0575E6; } }
  h1 {
    text-align: center;
    padding: auto;
    padding-bottom: 2rem;
    padding-top: 11rem;
    font-size: 7.3rem; }
  h2 {
    padding: 3rem 0;
    font-size: 3rem; }
  .section {
    padding: 0 5rem;
    font-size: 2.1rem; }
    .section dd {
      font-size: 2rem;
      font-weight: 500; }
  .section__news {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding-bottom: 5rem; }
  .descriptions {
    font-size: 2.3rem; }
  .glossary {
    padding: 3rem 7rem; }
  table {
    font-size: 2rem;
    margin-top: 7rem;
    margin-bottom: 7rem; }
  #podcast__title {
    font-size: 3.3rem;
    font-weight: bold; }
  .index {
    font-size: 1.6rem; }
  .h5 {
    font-size: 1.8rem; }
  .news__article--title h3 {
    font-size: 4rem; }
  #bienvenida {
    margin-left: 3rem;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold; }
  .dark__mode--display {
    display: flex;
    flex-flow: row nowrap;
    margin: 1.5rem; } }

@media only screen and (min-width: 1440px) {
  h1 {
    padding-bottom: 2.5rem;
    padding-top: 12rem;
    font-size: 8.5rem; }
  h2 {
    font-size: 4.5rem; }
  .section {
    font-size: 3rem; }
    .section dd {
      font-size: 2.5rem;
      font-weight: 600; }
  .descriptions {
    font-size: 3rem; }
  .glossary {
    padding: 3.5rem 7rem; }
  table {
    font-size: 2.5rem;
    margin-top: 8rem;
    margin-bottom: 8rem; }
  #podcast__title {
    font-size: 4rem; }
  .index {
    font-size: 2.3rem; }
  .h5 {
    font-size: 2.3rem; }
  .news__article--title h3 {
    font-size: 5rem; } }

.body__404 {
  background-image: radial-gradient(#212529, darkblue); }

.container__404 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh; }

.h1__404 {
  font-size: 10rem;
  color: whitesmoke;
  letter-spacing: 5px;
  z-index: 10; }

.text__404 {
  font-size: 3rem;
  color: whitesmoke;
  text-align: justify;
  z-index: 10; }

.img__404 {
  position: fixed;
  width: 500px;
  height: 230px;
  z-index: -1;
  padding: auto;
  align-self: center; }

.jumbotron--bg {
  display: flex;
  background-color: #FF3D00;
  height: 70vh;
  padding-top: 2rem;
  align-content: center;
  position: relative; }

.jumbotron--rounded {
  padding: 1em;
  margin: 2em;
  border-radius: 3rem;
  background-color: #D9D9D9;
  box-shadow: 0 0 2.5rem #212529; }
  .jumbotron--rounded h3 {
    font-weight: 900;
    font-size: 1.9rem;
    padding-top: 3.3rem;
    margin: 0;
    text-align: center; }
  .jumbotron--rounded p {
    padding: 1em 2.5em 0 2.5em;
    font-size: 1.1rem;
    font-weight: 600; }

.jumbotron__btn--container {
  display: flex;
  justify-content: center;
  align-content: center; }

.jumbotron__btn {
  font-size: 1em;
  display: inline-block;
  cursor: pointer;
  color: #212529;
  border: 2px solid #2CECEC;
  padding: .25em 1em;
  border-radius: .25em;
  text-shadow: 0 0 0.25em #D9D9D9, 0 0 1em #2CECEC;
  box-shadow: inset 0 0 0.25em #2CECEC, 0 0 1em #2CECEC;
  transition: background-color 100ms linear; }

.jumbotron__btn--neon {
  position: relative; }

.jumbotron__btn--neon::before {
  pointer-events: none;
  content: '';
  position: absolute;
  background: #2CECEC;
  top: 110%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(45deg) scale(1, 0.5);
  filter: blur(1em);
  opacity: .6; }

.jumbotron__btn--neon::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 1em 0.5em #2CECEC;
  opacity: 0;
  background-color: #2CECEC;
  z-index: -1;
  transition: opacity 100ms linear; }

.jumbotron__btn--neon:focus {
  text-shadow: none;
  color: #212529;
  background-color: #2CECEC; }

.jumbotron__btn--neon:focus::before {
  opacity: 1; }

.jumbotron__btn--neon:focus::after {
  opacity: 1; }

.jumbotron--bg::before, .jumbotron--bg::after {
  position: absolute;
  content: '';
  width: 3rem;
  height: 2rem;
  background: #FF3D00;
  top: -9px;
  z-index: -1;
  border-radius: 5px; }

.jumbotron--bg::before {
  right: 0;
  transform: skew(0, -30deg); }

.jumbotron--bg::after {
  left: 0;
  transform: skew(0, 30deg); }

@media screen and (min-width: 768px) {
  .jumbotron--bg {
    height: 70vh; }
  .jumbotron--rounded {
    padding: 2em;
    margin: 4em;
    border-radius: 6rem; }
    .jumbotron--rounded h3 {
      font-size: 2.2rem; }
    .jumbotron--rounded p {
      font-size: 1.2rem;
      font-weight: 600; }
  .jumbotron__btn {
    font-size: 1.5rem; } }

@media screen and (min-width: 1024px) {
  .dark .jumbotron--bg {
    background-color: purple; }
  .dark .jumbotron--rounded {
    background-color: #212529;
    box-shadow: 0 0 2.5rem #D9D9D9; }
  .dark .jumbotron--bg::before, .dark .jumbotron--bg::after {
    background: purple; }
  .dark .jumbotron__btn {
    color: whitesmoke; }
  .dark .jumbotron__btn--neon:hover {
    color: whitesmoke; }
  .jumbotron--rounded {
    padding: 2em;
    margin: 5em;
    border-radius: 6rem; }
    .jumbotron--rounded h3 {
      font-weight: 900;
      font-size: 2.9rem; }
    .jumbotron--rounded p {
      font-size: 1.8rem;
      letter-spacing: 2px; }
  .jumbotron__btn--neon:hover {
    text-shadow: none;
    color: #212529;
    background-color: #2CECEC; }
  .jumbotron__btn--neon:hover::before {
    opacity: 1; }
  .jumbotron__btn--neon:hover::after {
    opacity: 1; } }

@media screen and (min-width: 1440px) {
  .jumbotron--rounded {
    padding: 2em;
    margin: 7em;
    border-radius: 6rem; }
    .jumbotron--rounded h1 {
      font-size: 3.2rem; }
    .jumbotron--rounded p {
      font-size: 2.2rem;
      font-weight: 800; }
  .jumbotron__btn {
    font-size: 1.7rem; } }
