
#nav__home--container {
    padding: 2rem 0;
}
.nav__list{
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    align-items: center; 
}
.nav__links{
    padding: 1rem .5rem;
    color: $text-color;
    text-decoration: none;
    font-size: .9rem;
    letter-spacing: 2px;
}

@media screen and (min-width: 768px) {
    .nav__links{
        padding: 1rem 3rem;
        gap: .5rem;
        color: $text-color;
        text-decoration: none;
        font-size: $default-font-size;
    }
}
@media screen and (min-width: 1024px) {
    .nav__list {
        display: flex;
        list-style: none;
        gap: 2rem;
        flex-wrap: nowrap;
    }
    .nav__links {
        padding: 1rem 3rem;
        color: $text-color;
        text-decoration: none;
        font-size: $default-font-size + .4rem;
        background-image: linear-gradient(90deg, lightgray, $bright-color);
        background-size: 0% 3px;
        background-repeat: no-repeat;
        background-position: left bottom;
        transition: background-size 300ms ease;
    }
    .nav__links:hover {
        background-size: 100% 3px;
        color: $text-color;
    }
    .dropdown-menu {
        border-radius: 6px;
    }
    .nav--submenu {
        font-size: 1.6rem;
    }
    .seeker {
        height: 30px;
        width: $default-width / 3;
        input, button {
            font-size: $default-font-size;
            border-radius: 5px;
        }
    }
}