
.card-content {
    font-size: 1.2rem;
    text-align: justify;
}
.card-small {
    font-size: 1rem;
}
.card--container {
    border-radius: 8px;
    box-shadow: 5px 5px .5rem gray;
}

@media screen and (min-width: 768px) {
    // #catalogo {
    //     display: grid;
    //     grid-template-columns: repeat(2, 120ch);
    //     justify-content: center;
    // }
    .library--container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .card--container {
        margin: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .card-content {
        font-size: 1.4rem;
    }
    .card-small {
        font-size: $default-font-size;
    }
}

@media screen and (min-width: 1440px) {
    .card-content {
        font-size: 1.7rem;
    }
    .card-small {
        font-size: $default-font-size + .2rem;
    }
}